# ===== Python =====
__pycache__/
*.pyc

# ===== Data / outputs =====
CSV/
output/
*.gt
*.vtp

# ===== Ignore all PKL by default =====
*.pkl

# ===== Ignore everything inside whole brain =====
whole brain/**

# ===== EXCEPTIONS =====
!whole brain/
!whole brain/18_igraph.pkl

# ===== ParaView / VTK =====
*.vtk
*.vtu

# ===== Temp / misc =====
*.log

# ===== Images / documents =====
*.png
*.jpg
*.pdf
