# ===== Python =====
__pycache__/
*.pyc

# ===== Data / outputs =====
CSV/
output/
*.pkl
*.gt
*.vtp

# ===== ParaView / VTK =====
*.vtk
*.vtu

# ===== Temp / misc =====
*.log

# ===== Images / documents =====
*.png
*.jpg
*.pdf



