# ===== Python =====
__pycache__/
*.pyc

# ===== Data / outputs =====
CSV/
*.gt
*.vtp

# ===== Ignore all PKL by default =====
*.pkl

# ===== ParaView / VTK =====
*.vtk
*.vtu

# ===== Allow output folder =====
!output/
!output/**

# ===== But only allow these inside output =====
!output/**/*.pkl
!output/**/*.vtp

# ===== Temp / misc =====
*.log

# ===== Images / documents =====
*.png
*.jpg
*.pdf
*.jpeg
*.mp4





